body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  padding-bottom: 60px; /* Ajusta el espacio dependiendo de la altura del footer */
}

.App {
  min-height: calc(100vh - 60px); /* Ajusta la altura dependiendo del tamaño del footer */
}
h4{
  color: black;
  text-align: center;
}
h1{
  color: black;
  text-align: center
  ;
}
.consulta {
  background-color: #FFC6CF;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.cart-modal {
  position: fixed;
  top: 20%;
  right: 5%;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 20px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
